[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
numpy = "*"
pyproj = "*"
pygrib = "*"
scipy = "*"
requests = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Bootstrap = "*"
"GeoAlchemy2" = "*"
Shapely = "*"
GDAL = "*"

[dev-packages]

[requires]
python_version = "3.7"
