flask
flask_sqlalchemy
flask_cors
psycopg2-binary
pq
geoalchemy2
numpy==1.19.2
shapely
pyproj==2.4.2.post1
https://github.com/kallsyms/pygrib/releases/download/v2.0.4-wheel/pygrib-2.0.4-cp36-cp36m-manylinux1_x86_64.whl
scipy==1.5.2
urllib3>=1.25.4
requests
pillow
boto3
pymongo
sentry-sdk[flask]==0.14.2
aws-requests-auth==0.4.2
ogr
pytz
azure-cosmosdb-table==1.0.6
opentelemetry-api==0.6b0
opentelemetry-auto-instrumentation==0.6b0
opentelemetry-ext-dbapi==0.6b0
opentelemetry-ext-flask==0.6b0
opentelemetry-ext-honeycomb==0.5b0
opentelemetry-ext-jaeger==0.6b0
opentelemetry-ext-wsgi==0.6b0
opentelemetry-sdk==0.6b0
