apiVersion: v1
kind: Secret
metadata:
  name: wx-explore
data:
  HONEYCOMB_API_KEY: 
  POSTGRES_PASS: 
  POSTGRES_USER: 
  SENTRY_ENDPOINT: 
  INGEST_AZURE_TABLE_ACCOUNT_KEY:
  #INGEST_S3_ACCESS_KEY:
  #INGEST_S3_SECRET_KEY:
